.green-button {
  background-color: #f0feed;
  outline: solid #009957;
  outline-width: 1px;
  color: #009957;
}

.green-button:hover {
  background-color: #009957;
  color: #fefefe;
}

.green-bg {
  background-color: #f0feed;
}