.frame14
{
height:133px;
width:310px;
padding:0px;
left:40px;
top:227px;
position:relative;
}
.frame8
{
background-color:;
height:112px;
width:310px;
border-radius:14px;
padding:0px;
position:absolute;
}
.group287
{
width:139px;
height:82px;
left:86px;
top:16.99px;
position:absolute;
}
.0
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:15.803031921386719px;
font-family:Poppins;
left:146px;
top:39.99px;
width:21px;
height:24px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.02
{
color:rgba(255, 255, 255, 0.8999999761581421);
text-align:left;
vertical-align:text-top;
font-size:15.803031921386719px;
font-family:Poppins;
left:86px;
top:35.99px;
width:20px;
height:24px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.03
{
color:rgba(255, 255, 255, 0.8999999761581421);
text-align:left;
vertical-align:text-top;
font-size:15.803031921386719px;
font-family:Poppins;
left:205px;
top:35.99px;
width:20px;
height:24px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.vector110
{
background-color:#9a9a9a;
height:11.287878036499023px;
width:15.803028106689453px;
left:149px;
top:17.99px;
position:absolute;
}
.vector111
{
background-color:#9a9a9a;
height:11.287878036499023px;
width:15.803028106689453px;
left:149.13px;
top:16.99px;
position:absolute;
}
.group265
{
width:133px;
height:24px;
top:74.99px;
left:89px;
position:absolute;
}
.group275
{
width:133px;
height:24px;
top:74.99px;
left:89px;
position:absolute;
}
.group276
{
width:133px;
height:24px;
top:74.99px;
left:89px;
position:absolute;
}
.kilometersaday
{
color:rgba(255, 255, 255, 0.800000011920929);
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Poppins;
left:89px;
top:74.99px;
width:133px;
height:24px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.line70
{
width:5.656854152679443px;
transform:rotate(-91deg);
border:0.8000000715255737px solid rgba(255, 255, 255, 0.800000011920929);
top:28.9px;
left:193.73px;
position:absolute;
}
.line71
{
width:5.656854152679443px;
transform:rotate(-91deg);
border:0.8000000715255737px solid rgba(255, 255, 255, 0.800000011920929);
top:28.9px;
left:174px;
position:absolute;
}
.line78
{
width:5.656854152679443px;
transform:rotate(-91deg);
border:0.8000000715255737px solid rgba(255, 255, 255, 0.800000011920929);
top:28.9px;
left:234.73px;
position:absolute;
}
.line79
{
width:5.656854152679443px;
transform:rotate(-91deg);
border:0.8000000715255737px solid rgba(255, 255, 255, 0.800000011920929);
top:28.9px;
left:215px;
position:absolute;
}
.line73
{
width:5.656854152679443px;
transform:rotate(-91deg);
border:0.8000000715255737px solid rgba(255, 255, 255, 0.800000011920929);
top:28.9px;
left:139.53px;
position:absolute;
}
.line80
{
width:5.656854152679443px;
transform:rotate(-91deg);
border:0.8000000715255737px solid rgba(255, 255, 255, 0.800000011920929);
top:31.9px;
left:156.53px;
position:absolute;
}
.line75
{
width:5.656854152679443px;
transform:rotate(-91deg);
border:0.8000000715255737px solid rgba(255, 255, 255, 0.800000011920929);
top:28.9px;
left:118.07px;
position:absolute;
}
.line76
{
width:5.656854152679443px;
transform:rotate(-91deg);
border:0.8000000715255737px solid rgba(255, 255, 255, 0.800000011920929);
top:28.9px;
left:95.53px;
position:absolute;
}
.line77
{
width:5.656854152679443px;
transform:rotate(-91deg);
border:0.8000000715255737px solid rgba(255, 255, 255, 0.800000011920929);
top:28.9px;
left:74.07px;
position:absolute;
}